node_modules/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
database/mysqlConfig.js
scratch.js
servercsvData01.csv
servercsvData02.csv
servercsvData03.csv
servercsvData04.csv
servercsvData05.csv
servercsvData06.csv
servercsvData07.csv
servercsvData08.csv
servercsvData09.csv
servercsvData10.csv
servercsvData11.csv
servercsvData12.csv
servercsvData13.csv
servercsvData14.csv
servercsvData15.csv
servercsvData16.csv
servercsvData17.csv
servercsvData18.csv
servercsvData19.csv
servercsvData20.csv
csvbonus.csv
newrelic/
server/newrelic.js
newrelic_agent.log